# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.6/en/server-configuration-defaults.html

 [client]
 port                  = 3306
 socket                = /var/lib/mysql/mysql.sock

 [mysql]
 no-auto-rehash
 default-character-set   = utf8mb4

 [mysqld]
 #
 # Remove leading # and set to the amount of RAM for the most important data
 # cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
 # innodb_buffer_pool_size = 128M
 #
 # Remove leading # to turn on a very important data integrity option: logging
 # changes to the binary log between backups.
 # log_bin
 #
 # Remove leading # to set options mainly useful for reporting servers.
 # The server defaults are faster for transactions and fast SELECTs.
 # Adjust sizes as needed, experiment to find the optimal values.
 # join_buffer_size = 128M
 # sort_buffer_size = 2M
 # read_rnd_buffer_size = 2M

user            = mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/lib/mysql/mysql.sock
port            = 3306
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp

character-set-server    = utf8mb4
collation-server        = utf8mb4_general_ci
init_connect            = 'SET collation_connection = utf8mb4_general_ci'
init_connect            = 'SET NAMES utf8mb4'

default-storage-engine = innodb

explicit_defaults_for_timestamp = true

max_allowed_packet      = 1M
thread_stack            = 256K
thread_cache_size       = 128
key_buffer_size         = 16M
max_connections         = 128
wait_timeout            = 60
net_read_timeout        = 30
net_write_timeout       = 30
back_log                = 128
table_open_cache        = 1024
max_heap_table_size     = 64M
tmp_table_size          = 64M
sort_buffer_size        = 1M
read_buffer_size        = 256K
read_rnd_buffer_size    = 256K
join_buffer_size        = 256K
table_definition_cache  = 400

innodb_strict_mode
innodb_file_per_table
innodb_flush_method             = O_DIRECT
innodb_buffer_pool_size         = 512M
innodb_write_io_threads         = 4
innodb_read_io_threads          = 4
innodb_thread_concurrency       = 16
innodb_fast_shutdown            = 0
innodb_flush_log_at_trx_commit  = 2
innodb_lock_wait_timeout        = 50
innodb_log_file_size            = 16M
innodb_log_buffer_size          = 16M

query_cache_limit               = 2M
query_cache_size                = 64M
query_cache_type                = 1
query_cache_min_res_unit        = 4K

slow_query_log_file             = /var/log/mysql/mysql-slow.log
long_query_time                 = 1
general_log_file                = /var/log/mysql/general.log
general_log                     = 0
#log-queries-not-using-indexes

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# Recommended in standard MySQL setup
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[mysqldump]
quick
quote-names
max_allowed_packet      = 32M
default-character-set   = utf8

[isamchk]
key_buffer_size         = 16M
